# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Playwright reports
test-results/
playwright-report/
blob-report/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env
